<li class="nav-item nav-item-home"><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
<li class="nav-item nav-item-about"><a href="/about"><i class="fa fa-users fa-fw"></i> About</a></li>
<li class="nav-item nav-item-waypoints"><a href="/waypoints"><i class="fa fa-map-marker fa-fw"></i> Waypoints</a></li>
<li><a href="{{@blog.url}}/rss/"><i class="fa fa-fw fa-thumbs-up"></i> Subscribe</a></li>