<ul class="pager">
    {{#if prev}}
    <li class="previous"><a class="newer-posts" href="{{pageUrl prev}}">Previous</a></li>
    {{/if}}
    {{#if next}}
    <li class="next"><a class="older-posts" href="{{pageUrl next}}">Next</a></li>
    {{/if}}
</ul>