<div id="affixed-sidebar" class="sidebar">
    <ul class="nav nav-sidebar nav-sidebar-first">
        {{> "nav-items"}}
    </ul>
    <h4>Tags</h4>
    <ul class="nav nav-sidebar tags-sidebar">
    </ul>
</div>