{{!< default}}

<nav class="main-nav clearfix">
    <a class="home" href="{{@blog.url}}"><i></i> Home</a>
</nav>

<main class="about-main" role="main">
    <div class="media">
        <a class="pull-left" href="#">
            <div class="about-img media-object"></div>
        </a>

        <div class="media-body">
            <h4 class="media-heading">Fred Dysart</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed neque dui. Quisque aliquam dignissim porttitor. Suspendisse at dictum augue.
                Vestibulum rhoncus ante ut diam facilisis congue. Mauris a posuere dui, vitae tempus ex. Sed sodales orci pharetra, porttitor urna sit amet,
                lacinia risus. Phasellus viverra, est vitae sodales tincidunt, enim tortor tincidunt arcu, eu hendrerit nibh ex vitae nisi. Duis venenatis quam erat,
                id porta lectus viverra ut. Duis molestie eu nisi eu maximus. Nulla sit amet tortor vel felis luctus hendrerit.
            </p>
            <p>
                Nunc euismod sed ante vel porttitor. Integer in volutpat purus. Praesent ultrices auctor pharetra. Morbi rutrum nibh at volutpat ultricies.
                Pellentesque cursus elit in velit lacinia vehicula. Ut vitae consectetur ante. Curabitur a placerat velit. Etiam egestas faucibus nulla.
                Proin id cursus est, a viverra eros. Fusce non consectetur enim. Proin rutrum metus nec odio tristique ornare.
            </p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <div class="about-img media-object"></div>
        </a>

        <div class="media-body">
            <h4 class="media-heading">Fred Dysart</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed neque dui. Quisque aliquam dignissim porttitor. Suspendisse at dictum augue.
                Vestibulum rhoncus ante ut diam facilisis congue. Mauris a posuere dui, vitae tempus ex. Sed sodales orci pharetra, porttitor urna sit amet,
                lacinia risus. Phasellus viverra, est vitae sodales tincidunt, enim tortor tincidunt arcu, eu hendrerit nibh ex vitae nisi. Duis venenatis quam erat,
                id porta lectus viverra ut. Duis molestie eu nisi eu maximus. Nulla sit amet tortor vel felis luctus hendrerit.
            </p>
            <p>
                Nunc euismod sed ante vel porttitor. Integer in volutpat purus. Praesent ultrices auctor pharetra. Morbi rutrum nibh at volutpat ultricies.
                Pellentesque cursus elit in velit lacinia vehicula. Ut vitae consectetur ante. Curabitur a placerat velit. Etiam egestas faucibus nulla.
                Proin id cursus est, a viverra eros. Fusce non consectetur enim. Proin rutrum metus nec odio tristique ornare.
            </p>
        </div>
    </div>
    <div>
        <h4>The Gear </h4>
        <p>
            Nunc euismod sed ante vel porttitor. Integer in volutpat purus. Praesent ultrices auctor pharetra. Morbi rutrum nibh at volutpat ultricies.
            Pellentesque cursus elit in velit lacinia vehicula. Ut vitae consectetur ante. Curabitur a placerat velit. Etiam egestas faucibus nulla.
            Proin id cursus est, a viverra eros. Fusce non consectetur enim. Proin rutrum metus nec odio tristique ornare.
        </p>
    </div>
</main>

