@footer-height: 60px;

@brand-primary:         #179bb2;
@brand-success:         #ffaf68;
@brand-info:            #87edff;
@brand-warning:         #ff7f15;
@brand-danger:          #b25609;

@navbar-height:                    100px;
@navbar-default-link-hover-color: @brand-info;
@navbar-default-link-color: @brand-warning;
@navbar-default-bg: #fff;

@headings-color: @brand-warning;
@headings-font-family: "Open Sans", sans-serif;
@font-family-base: "Open Sans", serif;
@font-size-base: 17px;